bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json
production.settings.json

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
venv_demo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

HTTPTriggerDemo.zip
.funcignore
.vscode/
